{
  "presets": [
    ["env", { "targets": { "node": "current" }}],
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "css-modules-transform", {
        "extractCss": "./dist/index.css"
      }
    ]
  ],
  "ignore": [
    "**/*.test.ts",
    "**/*.test.tsx"
  ],
  "retainLines": true
}
